{% extends '::base-app.html.twig' %}

{% block body %}

<div class="container-fluid" id="mainlayout">

	{% if app.user %}

	<div class="row">
		<div class="col-sm-3 col-md-2">

			<div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">

				<div class="panel panel-info">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a href="{{ path('app_home') }}">OBMS</a><br>
							<small>{{ app.user }}<br>
								{{ app.user.currentBusiness == null ? 'No business' : app.user.currentBusiness }}</small>
						</h4>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<i class="fa fa-wrench"></i>
							<a aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#menuSettings" role="button">
								Settings
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse{{ app.request.get('_route') matches '/profile|business/' ? ' in' }}" id="menuSettings" role="tabpanel">
						<li class="list-group-item">
							<a href="{{ path('app_my_profile') }}">
								My profile</a>
						</li>
						<li class="list-group-item">
							<a href="{{ path('business') }}">Businesses</a>
						</li>
					</ul>
				</div>
				{% if app.user.currentBusiness %}
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<i class="fa fa-globe"></i>
							<a aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#menuThirds" role="button">
								Thirds
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse{{ app.request.get('_route') matches '/third|thirdtype/' ? ' in' }}" id="menuThirds" role="tabpanel">
						<li class="list-group-item">
							<a href="{{ path('thirdtype') }}">Types</a>
						</li>
						<li class="list-group-item">
							<a href="{{ path('third') }}">All</a>
						</li>
						{% for thirdtype in app.user.currentBusiness.thirdtypes %}
						<li class="list-group-item">
							<a href="{{ path('third', {typeId:thirdtype.id}) }}">{{ thirdtype }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<i class="fa fa-users"></i>
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuhhrr" role="button">
								Human resources
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse{{ app.request.get('_route') matches '/worker/' ? ' in' }}" id="menuhhrr" role="tabpanel">
						<li class="list-group-item">
							<a href="{{ path('worker') }}">Workers</a>
						</li>
						<li class="list-group-item">
							<a href="{{ path('workerpayroll') }}">Payrolls</a>
						</li>
						<li class="list-group-item">
							<a href="{{ path('workerholliday') }}">Hollidays</a>
						</li>
						<li class="list-group-item">
							<a href="{{ path('workerdown') }}">Downs</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<i class="fa fa-shopping-cart"></i>
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuShopping" role="button">
								Shopping
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuShopping" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Orders</a>
						</li>
						<li class="list-group-item">
							<a href="#">Notes</a>
						</li>
						<li class="list-group-item">
							<a href="#">Invoices</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<i class="fa fa-cubes"></i>
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuStore" role="button">
								Storage
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuStore" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Products</a>
						</li>
						<li class="list-group-item">
							<a href="#">Families</a>
						</li>
						<li class="list-group-item">
							<a href="#">Stores</a>
						</li>
						<li class="list-group-item">
							<a href="#">Stocks</a>
						</li>
						<li class="list-group-item">
							<a href="#">Stock controls</a>
						</li>
						<li class="list-group-item">
							<a href="#">Regularizations</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<i class="fa fa-money"></i>
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuSales" role="button">
								Sales
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuSales" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Notes</a>
						</li>
						<li class="list-group-item">
							<a href="#">Orders</a>
						</li>
						<li class="list-group-item">
							<a href="#">Budgets</a>
						</li>
						<li class="list-group-item">
							<a href="#">Pre-invoice</a>
						</li>
						<li class="list-group-item">
							<a href="#">Invoice</a>
						</li>
						<li class="list-group-item">
							<a href="#">Amendment invoice</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuAccounting" role="button">
								<i class="fa fa-book"></i>
								Accounting
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuAccounting" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Journal</a>
						</li>
						<li class="list-group-item">
							<a href="#">Ledger</a>
						</li>
						<li class="list-group-item">
							<a href="#">Subaccounts</a>
						</li>
						<li class="list-group-item">
							<a href="#">Balances</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuProduction" role="button">
								<i class="fa fa-industry"></i>
								Production
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuProduction" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Materials</a>
						</li>
						<li class="list-group-item">
							<a href="#">Manufacturing stages</a>
						</li>
						<li class="list-group-item">
							<a href="#">Manufacturing orders</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<i class="fa fa-truck"></i>
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuLogistics" role="button">
								Logistics
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuLogistics" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Agency</a>
						</li>
						<li class="list-group-item">
							<a href="#">Shipping</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<i class="fa fa-calendar"></i>
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuPlanification" role="button">
								Planification
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuPlanification" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Projects</a>
						</li>
						<li class="list-group-item">
							<a href="#">Calendar</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<i class="fa fa-check-square"></i>
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuProcessControl" role="button">
								Process control
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuProcessControl" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Processes</a>
						</li>
						<li class="list-group-item">
							<a href="#">Incidents</a>
						</li>
						<li class="list-group-item">
							<a href="#">Accidents</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<i class="fa fa-folder-open"></i>
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#" role="button">
								Documents
							</a>
						</h4>
					</div>

				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<i class="fa fa-bar-chart"></i>
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuIntelligence" role="button">
								Intelligence
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuIntelligence" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Thirds</a>
						</li>
						<li class="list-group-item">
							<a href="#">Incidents</a>
						</li>
						<li class="list-group-item">
							<a href="#">Accidents</a>
						</li>
					</ul>
				</div>
				{% endif %}
				<div class="panel panel-danger">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title text-center">
							<a href="{{ path('app_logout') }}">
								<i class="fa fa-power-off"></i>
							</a>
						</h4>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-9 col-md-10">

			{% for label, flashes in app.session.flashbag.all %}
			{% for flash in flashes %}
			<div class="alert alert-{{ label }}">
				<button aria-label="Close" class="close" data-dismiss="alert" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
				{{ flash }}
			</div>
			{% endfor %}
			{% endfor %}

			<div class="container-fluid">
				{% block mainarea %}{% endblock %}
			</div>

		</div>
	</div>

	{% else %}

	<div class="row">
		<div class="col-md-12">

			{% for label, flashes in app.session.flashbag.all %}
			{% for flash in flashes %}
			<div class="alert alert-{{ label }}">
				<button aria-label="Close" class="close" data-dismiss="alert" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
				{{ flash }}
			</div>
			{% endfor %}
			{% endfor %}

			<div class="container-fluid">
				{% block mainarealogin %}{% endblock %}
			</div>

		</div>
	</div>

	{% endif %}

</div>

{% endblock %}
