{% extends '::base-app.html.twig' %}

{% block body %}

{% if app.user %}

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('apple-touch-icon.png') }}"></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav" >
                <li{{ app.request.get('_route') == 'section' ? ' class="active"' }}>
                    <a href="#">Section</a>
                </li>

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Security
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">My profile</a>
						</li>

						<li class="divider" role="separator"></li>
						<li>
							<a href="{{ path('app_logout') }}">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

{% endif %}

{% for label, flashes in app.session.flashbag.all %}
	{% for flash in flashes %}
		<div class="alert alert-{{ label }}">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ flash }}
		</div>
	{% endfor %}
{% endfor %}

<div class="container-fluid">
{% block mainarea %}{% endblock %}
</div>

{% endblock %}
