{% extends '::base-app.html.twig' %}

{% block body %}

<div class="container-fluid" id="mainlayout">

	{% if app.user %}

	<div class="row">
		<div class="col-sm-3 col-md-2">

			<div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">

				<div class="panel panel-info">
					<div class="panel-heading" role="tab" style="padding: 0px;">
						<h4 class="panel-title">
							<a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('apple-touch-icon.png') }}"></a>
							OBMS
						</h4>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#menuThirds" role="button">
								Thirds
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse{{ app.request.get('_route') in ['third', 'thirdtype'] ? ' in' }}" id="menuThirds" role="tabpanel">
						<li class="list-group-item">
							<a href="{{ path('thirdtype') }}">Types</a>
						</li>
						<li class="list-group-item">
							<a href="{{ path('third') }}">All</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuhhrr" role="button">
								Human resources
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuhhrr" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Workers</a>
						</li>
						<li class="list-group-item">
							<a href="#">Payrolls</a>
						</li>
						<li class="list-group-item">
							<a href="#">Hollidays</a>
						</li>
						<li class="list-group-item">
							<a href="#">Downs</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuSales" role="button">
								Sales
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuSales" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Notes</a>
						</li>
						<li class="list-group-item">
							<a href="#">Selling orders</a>
						</li>
						<li class="list-group-item">
							<a href="#">Budgets</a>
						</li>
						<li class="list-group-item">
							<a href="#">Pre-invoice</a>
						</li>
						<li class="list-group-item">
							<a href="#">Invoice</a>
						</li>
						<li class="list-group-item">
							<a href="#">Amendment invoice</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuShopping" role="button">
								Shopping
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuShopping" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Shopping orders</a>
						</li>
						<li class="list-group-item">
							<a href="#">Notes</a>
						</li>
						<li class="list-group-item">
							<a href="#">Invoices</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuStore" role="button">
								Storage
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuStore" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Products</a>
						</li>
						<li class="list-group-item">
							<a href="#">Families</a>
						</li>
						<li class="list-group-item">
							<a href="#">Stores</a>
						</li>
						<li class="list-group-item">
							<a href="#">Stocks</a>
						</li>
						<li class="list-group-item">
							<a href="#">Inventories</a>
						</li>
						<li class="list-group-item">
							<a href="#">Regularizations</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuAccounting" role="button">
								Accounting
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuAccounting" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Journal</a>
						</li>
						<li class="list-group-item">
							<a href="#">Ledger</a>
						</li>
						<li class="list-group-item">
							<a href="#">Subaccounts</a>
						</li>
						<li class="list-group-item">
							<a href="#">Balances</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuProduction" role="button">
								Production
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuProduction" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Materials</a>
						</li>
						<li class="list-group-item">
							<a href="#">Manufacturing stages</a>
						</li>
						<li class="list-group-item">
							<a href="#">Manufacturing orders</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuLogistics" role="button">
								Logistics
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuLogistics" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Agency</a>
						</li>
						<li class="list-group-item">
							<a href="#">Shipping</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuPlanification" role="button">
								Planification
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuPlanification" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Projects</a>
						</li>
						<li class="list-group-item">
							<a href="#">Calendar</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuProcessControl" role="button">
								Process control
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuProcessControl" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Processes</a>
						</li>
						<li class="list-group-item">
							<a href="#">Incidents</a>
						</li>
						<li class="list-group-item">
							<a href="#">Accidents</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#" role="button">
								Documents
							</a>
						</h4>
					</div>

				</div>
				<div class="panel panel-warning">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#menuIntelligence" role="button">
								Intelligence
							</a>
						</h4>
					</div>
					<ul class="list-group panel-collapse collapse" id="menuIntelligence" role="tabpanel">
						<li class="list-group-item">
							<a href="#">Thirds</a>
						</li>
						<li class="list-group-item">
							<a href="#">Incidents</a>
						</li>
						<li class="list-group-item">
							<a href="#">Accidents</a>
						</li>
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#" role="button">
								My profile</a>
						</h4>
					</div>
				</div>
				<div class="panel panel-danger">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title text-center">
							<a href="{{ path('app_logout') }}">
								<i class="fa fa-power-off"></i>
							</a>
						</h4>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-9 col-md-10">

			{% for label, flashes in app.session.flashbag.all %}
			{% for flash in flashes %}
			<div class="alert alert-{{ label }}">
				<button aria-label="Close" class="close" data-dismiss="alert" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
				{{ flash }}
			</div>
			{% endfor %}
			{% endfor %}

			<div class="container-fluid">
				{% block mainarea %}{% endblock %}
			</div>

		</div>
	</div>

	{% else %}

	<div class="row">
		<div class="col-md-12">

			{% for label, flashes in app.session.flashbag.all %}
			{% for flash in flashes %}
			<div class="alert alert-{{ label }}">
				<button aria-label="Close" class="close" data-dismiss="alert" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
				{{ flash }}
			</div>
			{% endfor %}
			{% endfor %}

			<div class="container-fluid">
				{% block mainarealogin %}{% endblock %}
			</div>

		</div>
	</div>

	{% endif %}

</div>

{% endblock %}
