<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>{% block title %}OBMS{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
		<link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link href="{{ asset('css/cyborg.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('css/main-front.css') }}" rel="stylesheet" type="text/css">
		<script src="{{ asset('lib/jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ asset('lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/main.js') }}"></script>
		<script src="{{ asset('js/main-front.js') }}"></script>
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
