{% extends 'AppBundle::layout.html.twig' %}

{% block mainarea -%}

{{ form_start(formListWorkerHollidays) }}

<div class="row">
	<div class="col-md-3">
		<h1>Workers hollidays list</h1>
	</div>
	<div class="col-md-4">
		<button class="btn btn-default" type="submit">
			<i class="fa fa-floppy-o"></i>
			Save all
		</button>
		<a class="btn btn-default" href="{{ path('workerholliday_new') }}">
			<i class="fa fa-plus"></i>
			Create new
		</a>
	</div>
	<div class="col-md-5">
		{{ knp_pagination_render(paginator) }}
	</div>
</div>

<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Init date</th>
				<th>Finish date</th>
				<th>Worker</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in paginator %}
			<tr>
				<td>
					<a href="{{ path('workerholliday_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
				</td>
				<td>{% if entity.initdate %}{{ form_widget(formListWorkerHollidays[entity.id ~ 'initdate']) }}{% endif %}</td>
				<td>{% if entity.finishdate %}{{ form_widget(formListWorkerHollidays[entity.id ~ 'finishdate']) }}{% endif %}</td>
				<td>{{ form_widget(formListWorkerHollidays[entity.id ~ 'worker']) }}</td>
				<td>
					<a class="btn btn-default" href="{{ path('workerholliday_show', { 'id': entity.id }) }}">
						<i class="fa fa-eye"></i>
					</a>
					<a class="btn btn-default" href="{{ path('workerholliday_edit', { 'id': entity.id }) }}">
						<i class="fa fa-edit"></i>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{{ form_end(formListWorkerHollidays) }}

{% endblock %}
