{% extends 'AppBundle::layout.html.twig' %}

{% block mainarea -%}

{{ form_start(formListThirds) }}

<div class="row">
	<div class="col-md-3">
		<h1>Thirds</h1>
	</div>
	<div class="col-md-4">
		<button class="btn btn-default" type="submit">
			<i class="fa fa-floppy-o"></i>
			Save all
		</button>
		<a class="btn btn-default" href="{{ path('thirdtype_new') }}">
			<i class="fa fa-plus"></i>
			Create new
		</a>
	</div>
	<div class="col-md-5">
		{{ knp_pagination_render(paginator) }}
	</div>
</div>

<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>{{ knp_pagination_sortable(paginator, 'Id', 't.id') }}</th>
				<th>{{ knp_pagination_sortable(paginator, 'Fullname', 't.fullname') }}</th>
				<th>{{ knp_pagination_sortable(paginator, 'Email', 't.email') }}</th>
				<th>{{ knp_pagination_sortable(paginator, 'Type', 'tt.name') }}</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in paginator %}
			<tr>
				<td>
					<a href="{{ path('third_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
				</td>
				<td>{{ form_widget(formListThirds[entity.id ~ 'fullname'], {value: entity.fullname}) }}</td>
				<td>{{ form_widget(formListThirds[entity.id ~ 'email'], {value: entity.email}) }}</td>
				<td>{{ form_widget(formListThirds[entity.id ~ 'thirdType']) }}</td>
				<td>
					<a class="btn btn-default" href="{{ path('third_show', { 'id': entity.id }) }}">
						<i class="fa fa-eye"></i>
					</a>
					<a class="btn btn-default" href="{{ path('third_edit', { 'id': entity.id }) }}">
						<i class="fa fa-edit"></i>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{{ form_end(formListThirds) }}

{% endblock %}
